.UserRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.UserDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.DisplayFlex {
    display: flex;
}

.UserButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}