.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    padding: 20px;

  
    .footer-section {
      flex: 1 1 200px;
      margin: 10px;
      
  
      h4 {
        border-bottom: 2px solid green;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }

      ul{

        li{
            list-style-type: none;
            margin: 10px 0;
            padding: 10px;

            &:hover{
                background-color: #333;
                cursor: pointer;
            }
        
        }
      }
  
      p, ul, .social-icons {
        margin: 10px 0;
        
      }
  
      .social-icons a {
        margin-right: 10px;
        color: #fff;
        font-size: 20px;
      }
  
      .news-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
  
        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }
  
        span {
          font-size: 12px;
          color: #aaa;
        }
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 5px 0;
  
          a {
            color: #fff;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
  
      .contact-info li {
        display: flex;
        align-items: center;
        margin: 5px 0;
  
        i {
          margin-right: 10px;
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      width: 100%;
      margin-top: 20px;
      border-top: 1px solid #333;
      padding-top: 10px;
  
      p {
        font-size: 14px;
  
        i {
          color: red;
        }
  
        a {
          color: #0f9;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
  
      .footer-section {
        flex: 1 1 100%;
      }
    }
  }
  