.our-pricing{

    .header {
        background: url('../../assets/images/bg_2.jpg') no-repeat center center/cover fixed;
        filter: brightness(90%);
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--green);
        text-align: center;
    
        h1 {
          font-size: 36px;
          font-weight: bold;
         
        }
        p{
          
        }
      }
}